/*Colors*/
/* My custom styles: Add your own folders and scss files for your project and import them below
*/
@font-face { font-family: 'Avenir-Black'; src: url("../fonts/Avenir-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-Black.woff") format("woff"), url("../fonts/Avenir-Black.ttf") format("truetype"), url("../fonts/Avenir-Black.svg#Avenir-Black") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Avenir-Book'; src: url("../fonts/Avenir-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-Book.woff") format("woff"), url("../fonts/Avenir-Book.ttf") format("truetype"), url("../fonts/Avenir-Book.svg#Avenir-Book") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Avenir-BookOblique'; src: url("../fonts/Avenir-BookOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-BookOblique.woff") format("woff"), url("../fonts/Avenir-BookOblique.ttf") format("truetype"), url("../fonts/Avenir-BookOblique.svg#Avenir-BookOblique") format("svg"); font-weight: normal; font-style: normal; }
/* line 24, ../sass/site/_typo.scss */
.font-book, body { font-family: 'Avenir-Book'; }

/* line 28, ../sass/site/_typo.scss */
.font-black, .contact-form label { font-family: 'Avenir-Black'; }

/* line 32, ../sass/site/_typo.scss */
.font-oblique { font-family: 'Avenir-BookOblique'; }

/*
 Basic styles for FoundationPress demo site

*/
/* line 17, ../sass/site/_base.scss */
figure { margin: 0; padding: 0; }

/* line 23, ../sass/site/_base.scss */
figcaption { margin-bottom: rem-calc(20); margin-top: rem-calc(10); color: #6f6f6f; }
/*344343434*/
/*dfdfdfd*/
/* line 31, ../sass/site/_base.scss */
.alignleft { float: left; }
.sdsd{float: right}
/* line 35, ../sass/site/_base.scss */
.alignright { float: right; }

/* line 39, ../sass/site/_base.scss */
.aligncenter { display: block; margin-left: auto; margin-right: auto; }

/* line 45, ../sass/site/_base.scss */
blockquote.alignleft, img.alignleft { margin: rem-calc(7) rem-calc(24) rem-calc(7) 0; }

/* line 50, ../sass/site/_base.scss */
.wp-caption.alignleft { margin: rem-calc(7) rem-calc(14) rem-calc(7) 0; }

/* line 54, ../sass/site/_base.scss */
blockquote.alignright, img.alignright { margin: rem-calc(7) 0 rem-calc(7) rem-calc(24); }

/* line 61, ../sass/site/_base.scss */
.top-bar-container, .tab-bar { margin-bottom: rem-calc(32); }

/* line 66, ../sass/site/_base.scss */
#wpadminbar { position: fixed !important; }

/* line 74, ../sass/site/_base.scss */
#homepage-hero { background: url("http://foundation.zurb.com/assets/img/marquee-stars.svg") repeat scroll 0 0 #074E68; padding: rem-calc(20) 0; margin: -rem-calc(32) 0 rem-calc(32); position: relative; text-align: left; height: auto; }
/* line 82, ../sass/site/_base.scss */
#homepage-hero h1 a, #homepage-hero h4 { color: #fff; }
/* line 84, ../sass/site/_base.scss */
#homepage-hero .floatingyeti img { max-width: 30%; position: absolute; right: rem-calc(100); }
/* line 90, ../sass/site/_base.scss */
#homepage-hero .download { margin-top: rem-calc(20); }

/* line 95, ../sass/site/_base.scss */
.rio-action { background: #ffe200; color: #ec008c; }
/* line 98, ../sass/site/_base.scss */
.rio-action:hover, .rio-action:focus { background: #ec008c; color: #ffe200; }

/* line 104, ../sass/site/_base.scss */
.ajax-loader-exp { top: 0; display: none; position: fixed; height: 100%; padding-top: 22%; background: rgba(0, 0, 0, 0.27); width: 100%; color: #FFF; text-align: center; z-index: 9999; font-size: 3rem; }
/* line 116, ../sass/site/_base.scss */
.ajax-loader-exp.active { display: block; }

/* line 122, ../sass/site/_base.scss */
.svg { position: relative; margin: 0 auto; display: block; }

/* line 128, ../sass/site/_base.scss */
textarea[readonly] { background: #fff; }

/* line 132, ../sass/site/_base.scss */
input[data-invalid] { border-color: #FF0000; }

/* line 136, ../sass/site/_base.scss */
.form.ng-valid span.error, small.error { display: none; }

/* line 1, ../sass/site/_header.scss */
.main-header { height: 132px; }

/* line 5, ../sass/site/_header.scss */
#logo { margin-top: 14px; }
/* line 7, ../sass/site/_header.scss */
#logo span { text-indent: -9999px; display: block; height: 0; }
/* line 13, ../sass/site/_header.scss */
#logo img { width: 100%; max-width: 200px; }

/* line 19, ../sass/site/_header.scss */
.top-bar-section ul { position: relative; margin-top: 87px; }
/* line 23, ../sass/site/_header.scss */
.top-bar-section ul li a { font-family: 'Avenir-Book'; text-transform: uppercase; font-size: 1rem; }
/* line 28, ../sass/site/_header.scss */
.top-bar-section ul li:last-child { margin-right: 0; padding: 0; }
/* line 31, ../sass/site/_header.scss */
.top-bar-section ul li:last-child a { margin-right: 0; padding: 0; }

/* line 42, ../sass/site/_header.scss */
.top-bar-section li.active:not(.has-form) a:not(.button) { background: #4e005c; color: #ffe200; font-family: "Avenir-Black"; }

/* line 47, ../sass/site/_header.scss */
.top-bar-section li.active:not(.has-form) a:hover:not(.button) { background: #4e005c; color: #ffe200; }

/* line 54, ../sass/site/_header.scss */
.top-bar-section ul li:hover:not(.has-form) > a { color: #ffe200; }

/* line 1, ../sass/site/_home.scss */
.exp-helper { clear: both; background-color: #ffe200; height: 110px; width: 100%; }
/* line 6, ../sass/site/_home.scss */
.exp-helper img { width: 100%; }
/* line 9, ../sass/site/_home.scss */
.exp-helper .svg { margin: 15px 0 0 -11px; width: 100%; }

/* line 14, ../sass/site/_home.scss */
.insta-feed { width: 100%; }
/* line 16, ../sass/site/_home.scss */
.insta-feed ul { margin: 0; padding: 0; width: 100%; }
/* line 20, ../sass/site/_home.scss */
.insta-feed ul li { float: left; display: inline-block; margin: 0; padding: 0; width: 16.66%; }
/* line 26, ../sass/site/_home.scss */
.insta-feed ul li img { width: 100%; }

/* line 34, ../sass/site/_home.scss */
.home-experiences h2 { font-size: 1.4rem; text-transform: uppercase; color: #4e005c; margin: 31px 0; font-weight: 600; }

/* line 45, ../sass/site/_home.scss */
.experiencias { padding: 0; margin: 0; }
/* line 48, ../sass/site/_home.scss */
.experiencias li { padding: 0; height: 470px; list-style: none; float: left; width: 31%; display: inline-block; margin: 1%; background: #fffae0; -moz-box-shadow: 0px 0px 8px 0px #ccc; -webkit-box-shadow: 0px 0px 8px 0px #ccc; box-shadow: 0px 0px 8px 0px #ccc; }
/* line 58, ../sass/site/_home.scss */
.experiencias li.Right { margin-right: 0; float: right; }
/* line 63, ../sass/site/_home.scss */
.experiencias li img { height: 185px; width: 100%; }
/* line 68, ../sass/site/_home.scss */
.experiencias li .content { position: relative; padding: 10px; height: 284px; }
/* line 72, ../sass/site/_home.scss */
.experiencias li .content h3 { font-size: 1.1rem; font-weight: 600; text-transform: uppercase; }
/* line 79, ../sass/site/_home.scss */
.experiencias li .content .the-text p { font-size: 1.05rem; }
/* line 84, ../sass/site/_home.scss */
.experiencias li .action { position: absolute; bottom: 10px; width: 93%; }
/* line 89, ../sass/site/_home.scss */
.experiencias li .rio-action { position: relative; margin: 0 auto; display: block; width: 100%; }

/* line 1, ../sass/site/_footer.scss */
.gray-fotter { background: #ccc; padding: 10px 0; }
/* line 5, ../sass/site/_footer.scss */
.gray-fotter p { font-size: 12px; margin-bottom: 0; }

/* line 1, ../sass/site/_experiencia.scss */
.reveal-modal-bg { height: 350%; }

/* line 4, ../sass/site/_experiencia.scss */
#ExpModal { -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; padding: 28px 13px; background: #fffae0; }
@media (max-width: 800px) { /* line 4, ../sass/site/_experiencia.scss */
  #ExpModal { min-width: 99%; } }
@media (max-width: 1024px) { /* line 4, ../sass/site/_experiencia.scss */
  #ExpModal { min-width: 80%; } }
/* line 15, ../sass/site/_experiencia.scss */
#ExpModal .close-reveal-modal { font-size: 1.4rem; line-height: 0; top: 0; right: 0; font-weight: bold; padding: 12px 6px; background: #ec008c; color: #ffe200; }

/* line 28, ../sass/site/_experiencia.scss */
.exp-slider { margin-bottom: 38px; }

/* line 33, ../sass/site/_experiencia.scss */
.exp-intro .icone { background: #ec008c; float: left; width: 10%; height: 80px; }
/* line 38, ../sass/site/_experiencia.scss */
.exp-intro .icone object { margin: 12px auto; }
/* line 42, ../sass/site/_experiencia.scss */
.exp-intro .title { color: #EC018C; float: right; width: 90%; padding: 10px 10px 13px; height: 80px; background: #ffe200; }
/* line 51, ../sass/site/_experiencia.scss */
.exp-intro .title h1 { text-transform: uppercase; font-size: 2rem; font-weight: 600; margin: 0 0 8px; padding: 0 0 4px; line-height: 1em; border-bottom: 1px solid #ec008c; }
/* line 60, ../sass/site/_experiencia.scss */
.exp-intro .title p { padding: 0; margin: 0; line-height: 16px; font-size: 1.1rem; }

/* line 72, ../sass/site/_experiencia.scss */
.aditional-exps { margin-top: 25px; }
/* line 74, ../sass/site/_experiencia.scss */
.aditional-exps ul { padding: 0; margin: 0; }
/* line 79, ../sass/site/_experiencia.scss */
.aditional-exps p font { size: 0.9rem; }
/* line 83, ../sass/site/_experiencia.scss */
.aditional-exps li { position: relative; }
/* line 85, ../sass/site/_experiencia.scss */
.aditional-exps li input[type="checkbox"] { position: absolute; left: 6px; top: 8px; margin: 0; }
/* line 91, ../sass/site/_experiencia.scss */
.aditional-exps li p { font-size: 1rem; }
/* line 94, ../sass/site/_experiencia.scss */
.aditional-exps li a:after { border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(255, 255, 255, 0); border-top-color: #ffa200; border-width: 13px 5px; top: 9px; right: 10px; }
/* line 109, ../sass/site/_experiencia.scss */
.aditional-exps li.active a:after { -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg); top: -5px; }

/* line 119, ../sass/site/_experiencia.scss */
.exp-time { font-size: 1.5rem; margin-top: 16px; }
/* line 122, ../sass/site/_experiencia.scss */
.exp-time span { font-size: 2.2rem; }

/* line 127, ../sass/site/_experiencia.scss */
.exp-icons { margin-top: 23px; }
/* line 129, ../sass/site/_experiencia.scss */
.exp-icons ul { margin: 0; }
/* line 132, ../sass/site/_experiencia.scss */
.exp-icons li { text-align: left; height: 95px; position: relative; list-style: none; display: inline-block; padding: 0; margin: 0 4% 0 0; width: 9.5%; }
/* line 142, ../sass/site/_experiencia.scss */
.exp-icons li object { height: 50px; width: 50px; margin: 0 auto; }
/* line 148, ../sass/site/_experiencia.scss */
.exp-icons li .svg_car { height: 54px; width: 64px; }
/* line 152, ../sass/site/_experiencia.scss */
.exp-icons li .svg_guia { height: 61px; }
/* line 156, ../sass/site/_experiencia.scss */
.exp-icons li span { margin: 0; font-size: 0.9rem; display: block; position: absolute; bottom: 0; width: 100%; left: 0; text-align: center; }
/* line 167, ../sass/site/_experiencia.scss */
.exp-icons li .divider { position: absolute; right: -68%; top: 25px; line-height: 0; -moz-transform: rotate(90deg); -ms-transform: rotate(90deg); -webkit-transform: rotate(90deg); transform: rotate(90deg); }
/* line 175, ../sass/site/_experiencia.scss */
.exp-icons li:last-child .divider { display: none; }

/* line 184, ../sass/site/_experiencia.scss */
.exp-obs { margin-top: 19px; }
/* line 186, ../sass/site/_experiencia.scss */
.exp-obs h4 { font-size: 0.8rem; color: #222; margin: 1px 0; }
/* line 192, ../sass/site/_experiencia.scss */
.exp-obs ul { margin: 0; padding: 0; }
/* line 195, ../sass/site/_experiencia.scss */
.exp-obs ul li { font-size: 0.8rem; list-style-position: inside; list-style-type: initial; padding: 0; margin: 2px; }

/* line 208, ../sass/site/_experiencia.scss */
.exp-anf { margin-top: 30px; }
/* line 210, ../sass/site/_experiencia.scss */
.exp-anf h3 { font-size: 1rem; margin: 0 0 25px; text-transform: uppercase; color: #4e005c; }
/* line 217, ../sass/site/_experiencia.scss */
.exp-anf ul { margin: 0; }
/* line 219, ../sass/site/_experiencia.scss */
.exp-anf ul li { cursor: pointer; width: 278px; list-style: none; display: inline-block; padding: 3px; float: left; border: solid 1px transparent; }
/* line 228, ../sass/site/_experiencia.scss */
.exp-anf ul li.active { border: solid 1px #ec008c; }
/* line 233, ../sass/site/_experiencia.scss */
.exp-anf ul li .icone { float: left; background: #ec008c; width: 26%; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; position: relative; overflow: hidden; }
/* line 240, ../sass/site/_experiencia.scss */
.exp-anf ul li .icone.has { background: transparent; }
/* line 244, ../sass/site/_experiencia.scss */
.exp-anf ul li .icone img { width: 100%; height: 100%; }
/* line 248, ../sass/site/_experiencia.scss */
.exp-anf ul li .icone object { margin: 1px 6px; }
/* line 251, ../sass/site/_experiencia.scss */
.exp-anf ul li .icone .icon-over { top: 0; left: 0; position: absolute; height: 100%; width: 100%; z-index: 99; }
/* line 262, ../sass/site/_experiencia.scss */
.exp-anf ul li .desc { float: right; width: 69%; }
/* line 265, ../sass/site/_experiencia.scss */
.exp-anf ul li .desc h4 { font-size: 0.8rem; text-transform: uppercase; margin: -2px 0 -1px; color: #4e005c; }
/* line 271, ../sass/site/_experiencia.scss */
.exp-anf ul li .desc .content { margin: 0; }
/* line 273, ../sass/site/_experiencia.scss */
.exp-anf ul li .desc .content p { font-size: 0.8rem; margin: 0; }
/* line 278, ../sass/site/_experiencia.scss */
.exp-anf ul li .desc span { margin: 0; font-size: 0.8rem; }
/* line 279, ../sass/site/_experiencia.scss */
.exp-anf ul li .desc span figure { display: inline-block; }

/* line 293, ../sass/site/_experiencia.scss */
.exp-form { margin-top: 21px; }
/* line 295, ../sass/site/_experiencia.scss */
.exp-form .childrens-cont { visibility: hidden; }
/* line 297, ../sass/site/_experiencia.scss */
.exp-form .childrens-cont.active { visibility: visible; }
/* line 304, ../sass/site/_experiencia.scss */
.exp-form label { color: #ec008c; font-family: 'Avenir-Black'; }
/* line 309, ../sass/site/_experiencia.scss */
.exp-form .renderPrice { font-size: 3rem; }

/* jQuery FlexSlider v2.2.0 http://www.woothemes.com/flexslider/  Copyright 2012 WooThemes Free to use under the GPLv2 license. http://www.gnu.org/licenses/gpl-2.0.html  Contributing author: Tyler Smith (@mbmufffin) */
/* Browser Resets
*********************************/
/* line 15, ../sass/site/_flexslider.scss */
.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus { outline: none; }

/* line 19, ../sass/site/_flexslider.scss */
.slides, .flex-control-nav, .flex-direction-nav { margin: 0; padding: 0; list-style: none; }

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face { font-family: 'flexslider-icon'; src: url("../fonts/flexslider-icon.eot"); src: url("../fonts/flexslider-icon.eot?#iefix") format("embedded-opentype"), url("../fonts/flexslider-icon.woff") format("woff"), url("../fonts/flexslider-icon.ttf") format("truetype"), url("../fonts/flexslider-icon.svg#flexslider-icon") format("svg"); font-weight: normal; font-style: normal; }
/* FlexSlider Necessary Styles
*********************************/
/* line 39, ../sass/site/_flexslider.scss */
.flexslider { margin: 0; padding: 0; }

/* line 40, ../sass/site/_flexslider.scss */
.flexslider .slides > li { display: none; -webkit-backface-visibility: hidden; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
/* line 41, ../sass/site/_flexslider.scss */
.flexslider .slides img { width: 100%; display: block; max-height: 600px; max-height: 600px; }

/* line 42, ../sass/site/_flexslider.scss */
.flex-pauseplay span { text-transform: capitalize; }

/* Clearfix for the .slides element */
/* line 45, ../sass/site/_flexslider.scss */
.slides:after { content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }

/* line 46, ../sass/site/_flexslider.scss */
html[xmlns] .slides { display: block; }

/* line 47, ../sass/site/_flexslider.scss */
* html .slides { height: 1%; }

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you include js that eliminates this class on page load */
/* line 52, ../sass/site/_flexslider.scss */
.no-js .slides > li:first-child { display: block; }

/* FlexSlider Default Theme
*********************************/
/* line 56, ../sass/site/_flexslider.scss */
.flexslider { position: relative; zoom: 1; clear: both; }

/* line 57, ../sass/site/_flexslider.scss */
.flex-viewport { max-height: 600px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }

/* line 58, ../sass/site/_flexslider.scss */
.loading .flex-viewport { max-height: 300px; }

/* line 59, ../sass/site/_flexslider.scss */
.flexslider .slides { zoom: 1; }

/* line 60, ../sass/site/_flexslider.scss */
.carousel li { margin-right: 5px; }

/* Direction Nav */
/* line 63, ../sass/site/_flexslider.scss */
.flex-direction-nav { *height: 0; }

/* line 64, ../sass/site/_flexslider.scss */
.flex-direction-nav a { text-decoration: none; display: block; width: 40px; height: 40px; margin: -20px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; color: rgba(0, 0, 0, 0.8); text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3); -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; }

/* line 65, ../sass/site/_flexslider.scss */
.flex-direction-nav .flex-prev { left: -50px; }

/* line 66, ../sass/site/_flexslider.scss */
.flex-direction-nav .flex-next { right: -50px; text-align: right; }

/* line 67, ../sass/site/_flexslider.scss */
.flexslider:hover .flex-prev { opacity: 0.7; left: 10px; }

/* line 68, ../sass/site/_flexslider.scss */
.flexslider:hover .flex-next { opacity: 0.7; right: 10px; }

/* line 69, ../sass/site/_flexslider.scss */
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }

/* line 70, ../sass/site/_flexslider.scss */
.flex-direction-nav .flex-disabled { opacity: 0 !important; filter: alpha(opacity=0); cursor: default; }

/* line 71, ../sass/site/_flexslider.scss */
.flex-direction-nav a:before { font-family: "flexslider-icon"; font-size: 40px; display: inline-block; content: '\f001'; }

/* line 72, ../sass/site/_flexslider.scss */
.flex-direction-nav a.flex-next:before { content: '\f002'; }
.flex-direction-nav a.flex-next:before { content: '\f002'; }

/* Pause/Play */
/* line 75, ../sass/site/_flexslider.scss */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }

/* line 76, ../sass/site/_flexslider.scss */
.flex-pauseplay a:before { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }

/* line 77, ../sass/site/_flexslider.scss */
.flex-pauseplay a:hover { opacity: 1; }

/* line 78, ../sass/site/_flexslider.scss */
.flex-pauseplay a.flex-play:before { content: '\f003'; }

/* Control Nav */
/* line 81, ../sass/site/_flexslider.scss */
.flex-control-nav { width: 100%; position: absolute; bottom: -32px; text-align: center; }

/* line 82, ../sass/site/_flexslider.scss */
.flex-control-nav li { margin: 0 6px; display: inline-block; zoom: 1; *display: inline; }

/* line 83, ../sass/site/_flexslider.scss */
.flex-control-paging li a { width: 11px; height: 11px; display: block; background: #666; background: rgba(0, 0, 0, 0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); }

/* line 84, ../sass/site/_flexslider.scss */
.flex-control-paging li a:hover { background: #333; background: rgba(0, 0, 0, 0.7); }

/* line 85, ../sass/site/_flexslider.scss */
.flex-control-paging li a.flex-active { background: #000; background: rgba(0, 0, 0, 0.9); cursor: default; }

/* line 87, ../sass/site/_flexslider.scss */
.flex-control-thumbs { margin: 5px 0 0; position: static; overflow: hidden; }

/* line 88, ../sass/site/_flexslider.scss */
.flex-control-thumbs li { width: 25%; float: left; margin: 0; }

/* line 89, ../sass/site/_flexslider.scss */
.flex-control-thumbs img { width: 100%; display: block; opacity: .7; cursor: pointer; }

/* line 90, ../sass/site/_flexslider.scss */
.flex-control-thumbs img:hover { opacity: 1; }

/* line 91, ../sass/site/_flexslider.scss */
.flex-control-thumbs .flex-active { opacity: 1; cursor: default; }

@media screen and (max-width: 860px) { /* line 94, ../sass/site/_flexslider.scss */
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px; }
  /* line 95, ../sass/site/_flexslider.scss */
  .flex-direction-nav .flex-next { opacity: 1; right: 10px; } }
/* line 1, ../sass/site/_page.scss */
.page-header { background: #ffe200; height: 78px; padding: 45px 0 0; margin-bottom: 45px; }
/* line 6, ../sass/site/_page.scss */
.page-header h2 { color: #ec008c; text-transform: uppercase; font-size: 1.4rem; margin: 0; }

/* line 14, ../sass/site/_page.scss */
.empty-space { height: 100px; }

